.navigation {
    position: fixed;
    height: 90px;
    background: #FFF;
    bottom: 0px;
    width: 100%;
    z-index: 2000;
    box-shadow: 1px -3px 14px rgba(0, 0, 0, 0.12);
}
.navigation .icon-container{
	position: absolute;
	top: 10px;
	width: 100px;
	cursor: pointer;
}
.navigation .icon-container.drink{
	left: 20px;
}
.navigation .icon-container.serve{
    right: 20px;
}
.navigation .icon-container.me {
    left: 50%;
    margin-left: -50px;
    top: -10px;
    text-align: center;
    
}
.navigation .icon-container.active .nav-icon {
    &.serve{
        background: url('../images/serveicon-selected.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 50%;
        width: 100%;
    }
    &.drink{
        background: url("../images/drinkicon-selected.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 50%;
        width: 100%;
    }
}

.navigation .nav-icon {
    text-align: center;
    width: 50px;
    height: 50px;
    margin-top: 2px;

    &.serve{
        background: url('../images/serveicon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 50%;
        width: 100%;
    }
    &.drink{
        background: url("../images/drinkicon.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 50%;
        width: 100%;
    }

	
}

.navigation .icon-container.active svg * {
	fill: #000;
	
}

.navigation .icon-container .select-block {
    display: block;
    width: 60px;
    height: 5px;
    background: #9D2505;
    margin: 2px auto;
    transform: translateY(10px);
    transition: all 0.25s ease-out;
    opacity: 0;
}
.navigation .icon-container.active .select-block{
	 transform: translateY(0px);
     opacity: 1;
}