.topheader {
    border-top: 10px solid #752712;
    height: 65px;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.18);
    position: fixed;
    width: 100%;
    background: #FFF;
    z-index: 2001;
}

.topheader .coffeeshotslogo{
    width: 150px;
    margin-top: 17px;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

