<div class="row dark-bean-pattern-bg">
	<div class="col-xs-12 text-center">
		<button ng-click="closeThisDialog()" class="close-button pull-right"></button>
		<img ng-src="{{user.image}}" alt="" class="user-avatar medium">
		<h1 class="large-title white">{{user.firstname}} {{user.lastname}}</h1>
	</div>
</div>

<div ng-if="user.status == 0" class="text-center">
	<div dash-value="{{user.drinking_costs}}" dash-label="Total amount due" dash-format="currency" class="dash-counter clearfix"></div>

	<div dash-value="{{user.cups_drunk}}" dash-label="Cups" class="dash-counter clearfix"></div>

	<div class="col-xs-12 new-order-wrapper">
		<button ng-click="decreaseOrder()" class="btn btn-minus">
			-
		</button>
		<span class="amount"><p>{{user.newOrderAmount | currency : '€'}}</p></span>
		<button ng-click="increaseOrder()" class="btn btn-minus">
			+
		</button>

	</div>
	
	
</div>

<div ng-if="user.status == 1" class="col-xs-12 text-center small">
	<br>
	<br>
	<br>
	<p>
		Payment request submitted. When the user pays the outstanding amount of: {{user.drinking_costs}} Euro, you will receive an alert.  
	</p>
</div>






<div ng-if="user.status === 0" class="btn-group stick-to-bottom">
	
	<button ng-click="resetUser()" class="btn col-xs-6">
			Reset All  
	</button>


	<button ng-click="addCup()" class="btn green col-xs-6">
			Add Cup 
	</button>

	<button ng-click="requestPayment()" class="btn col-xs-6 green">
			REQUEST PAY
	</button>
	<button ng-click="closeThisDialog({'action':'left', 'id': user.id})" class="btn col-xs-6 blue">
			REMOVE
	</button>
</div>

<div ng-if="user.status === 1" class="btn-group stick-to-bottom">
	<button ng-click="closeThisDialog()" class="btn col-xs-12">
			Close
	</button>

</div>