<div class="col-xs-12">
	<h1 class="label-title">Edit your description (max. 140 chars.):</h1>
	<div class="form-group">
		<textarea ng-model="description" maxlength="140" class="form-control" placeholder="A small description of your Place" cols="30" rows="10"></textarea>
	</div>


</div>

<div class="btn-group stick-to-bottom">
	<button ng-click="closeThisDialog(false)" class="btn col-xs-6">
			Cancel
	</button>

	<button ng-click="closeThisDialog(description)" class="btn col-xs-6 green">
			Apply Changes
	</button>
</div>
