<div class="row dark-bean-pattern-bg">
	<div class="col-xs-12 text-center">
		<button ng-click="closeThisDialog()" class="close-button pull-right"></button>
		<img ng-src="{{user.image}}" alt="" class="user-avatar">
		<h1 class="large-title white">{{user.firstname}} {{user.lastname}}</h1>
	</div>
</div>

	<div class="col-xs-12">
		<h4 class="label-title">{{user.firstname}} accepted your Request</h4>
		<p>{{user.firstname}}'s Address:<br>
		<b>
		{{user.shooter.address.street}}<br>
		{{user.shooter.address.postal_code}}<br>
		{{user.shooter.address.city}}<br>

		</b>
		
		</p>
		
		<a target="_blank" href="#" ng-click="window.open('http://maps.google.com/?q={{user.shooter.address.street}}%20{{user.shooter.address.city}}', '_system')">
			<button class="btn btn-block blue">Open in Google Maps</button>
		</a>
		

		
		

		

	
	</div>

	<div class="btn-group stick-to-bottom">
		<button ng-click="closeThisDialog()" class="btn col-xs-12">
				OK 
		</button>

		
	</div>
