<div class="dark-bean-pattern-bg">
	<div class="col-xs-12 text-center">
		<button ng-click="closeThisDialog()" class="close-button"></button>
		<img ng-src="{{user.image}}" alt="" class="user-avatar">
		<h1 class="large-title white">{{user.firstname}} {{user.lastname}}</h1>
	</div>
</div>

	<div class="col-xs-12">
		<h4 class="label-title">{{user.firstname}} accepted your Request</h4>
		<p>{{user.firstname}}'s details:<br>
		{{user.shooter.address.street}} {{user.shooter.address.postal_code}}<br>
		{{user.shooter.address.city}}<br>
		</p>
		
		<a ng-if="user.shooter.address.phone !== ''" href="#">
			<button ng-click="sendSMS(user.shooter.address.phone)" class="btn btn-block green">
				Send SMS Message
			</button>
		</a>
		<br>	
		<a target="_blank" href="#" ng-click="openInGoogleMaps()">
			<button class="btn btn-block blue">Open in Google Maps</button>
		</a>
			
			
		

		
		
		
		
		

		
		

		

	
	</div>

	<div class="btn-group stick-to-bottom">
		<button ng-click="closeThisDialog()" class="btn col-xs-12">
				OK 
		</button>

		
	</div>
