
	<div class="col-xs-12">
		<div class="wrapper text-center">
			<img class="paypal-logo" src="images/paypallogo.svg" alt="">
		</div>
			
		
		
		<div class="wrapper clearfix">
			
		
			
			<img ng-src="{{details.image}}" alt="" class="user-avatar medium pull-left">
			
			<div class="pull-left">
				<p class='description'>
					Request you to pay {{details.amount}} Euro
					to {{details.firstname}} {{details.lastname}} for {{details.cups}} cups 
					of coffee
				</p>


				
			</div>
		</div>
		<div class="wrapper clearfix text-center">
				<div  dash-format="currency" dash-value="{{details.amount}}" dash-label="Total Amount" class="dash-counter clearfix"></div>
		</div>


	</div>

	<div class="btn-group stick-to-bottom">
		<button ng-click="closeThisDialog(false)" class="btn col-xs-6 paypal-grey">
				Reject
		</button>

		<button ng-click="closeThisDialog(true)" class="btn col-xs-6 paypal-blue">
				Pay NOW
		</button>
	</div>
