<div class="dark-bean-pattern-bg">
	<div class="col-xs-12 text-center">
		<button ng-click="closeThisDialog()" class="close-button pull-right"></button>
		<img ng-src="{{user.image}}" alt="" class="user-avatar">
		<h1 class="large-title white">{{user.firstname}} {{user.lastname}}</h1>
		<div class="rating" rating-value="{{user.shooter.stats.stars}}" white="true"></div>

	</div>
</div>

	<div class="col-xs-12 scroll-box" ng-class="{'extended': currentUser._id === user._id}">
		<div dash-value="{{user.shooter.stats.guests}}" dash-label="GUESTS (±)" class="dash-counter clearfix"></div>
		<div dash-value="{{user.shooter.stats.cups_served}}" dash-label="CUPS SERVED" class="dash-counter clearfix"></div>
		<div dash-value="{{(user.shooter.stats.revenue +user.stats.drinking_costs) * 0.02 }}" dash-label="FARMER
PROFITS EURO (±)" class="dash-counter clearfix"></div>
		<h1 class="label-title upper">About</h1>
		<p>{{user.bio}}</p>
		
		

		<h1 class="label-title upper">Time</h1>
		<p>Serving untill {{user.shooter.open_until | hourAndMinutes}}, {{user.shooter.open_until | timeRemaining}} remaining</p>

		<h1 class="label-title upper">Machine</h1>
		<p>{{user.shooter.machine}}</p>

		<h1 class="label-title upper">Reviews</h1>

		<div class="col-xs-12">
			<div class="reviews" review-source="user.shooter.reviews"></div>
		</div>
			
			
				
				
				
			

		
		
	</div>
	<div ng-if="currentUser._id !== user._id">
		
	
		<button ng-show="user.visitRequested !== true" ng-click="closeThisDialog(user._id)" class="btn btn-block green">
				request visit
		</button>
		<button ng-show="user.visitRequested === true" ng-click="closeThisDialog(false)" class="btn btn-block">
				Request Already Send
		</button>
	</div>




	
</div>

