<div class="col-xs-12">
	<h1 class="label-title">Tap to change your End Time</h1>
	<div class="form-group">
		<script>
			setTimeout(function(){
				$('#timepicker').focus();
			}, 500);
			
		</script>
		<label style="width:100%" for="timepicker">
			<div class="col-xs-12 text-center">
				
				<h1 style="font-weight: 100; font-size: 62px;">{{openUntill | date:'H:mm'}}</h1>
			</div>
			<input style="opacity:0" id="timepicker" ng-model="openUntill" type="time" class="form-control">
		</label>
	</div>


</div>

<div class="btn-group stick-to-bottom">
	<button ng-click="closeThisDialog(false)" class="btn col-xs-6">
			Cancel
	</button>

	<button ng-click="closeThisDialog(openUntill)" class="btn col-xs-6 green">
			Apply Changes
	</button>
</div>
