<div class="welcome">
	<div class="row grey">
		<div class="col-xs-12 text-center">
			<img src="images/exampleuser.jpg" alt="" style="position: relative; top: 55px; " class="user-avatar large grey-border"> </div>
	</div>
	<div class="row">
		<div class="col-xs-12" style="margin-top: 55px" >
			<h1 class="label-title">Welcome {{currentuser.firstname}} {{currentuser.lastname}}</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto saepe tempore at, numquam inventore ipsum? Animi cupiditate accusantium velit placeat totam vitae dolorem, quis, aspernatur ipsa sint fugit esse accusamus.</p>
			<br>
			<br>
			<button ng-click="welcome.continue()" class="btn btn-lg btn-block green">
				ok let’s go!
			</button>
		</div>
	</div>
</div>

